.div {
    padding:20px 0;
}

.div .input {
    font-size: 1.2em;
    width: 4em;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.div .span {
    font-size: 1.2em;
    padding: 0 1em;
}

.div .button {
  appearance: none;
  background: none;
  font-size: 1.2em;
  padding: 0 12px;
  outline: none;
  border: 2px solid transparent;
  box-sizing: border-box;
  color: rgb(112, 76, 182);
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.div .button:hover, .button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.div .button:active {
  background-color: rgba(112, 76, 182, 0.2);
}
