.div {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% - 0px);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    z-index: 1000;
    width: 70%;
    height: 3.5em;
    overflow: hidden;
    color: #00ffff;
    font-size: 0.7em;
    font-weight: bold;
    text-shadow: 2px 2px 0 black;
    text-align: left;
}

.thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
