.div {
    display: flex;
    flex-direction: column;
    width: calc(100% - 0px);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
