.table {
    table-layout: fixed;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    box-sizing: border-box;
}

.table.cols2Td {
    width: calc(100% - 0px);
}

.table.cols3Td {
    width: calc(100% - 12px);
}


.td {
    text-align: left;
    vertical-align: top;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cols2Td td {
    border:5px solid #ff0000;
}

.cols2Td .cols3Td td {
    border: 2px solid black;
}


