.table {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table.cols2Td {
    width: calc(100% - 0px);
}

.table.cols3Td {
    width: calc(100% - 12px);
}

.tr {
    display: flex;
    flex-direction: row;
}

.td {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cols2Td td {
    border:5px solid #ff0000;
}

.cols2Td .cols3Td td {
    border: 2px solid black;
}


