.SV-Redux-App {
  text-align: center;
}

.SV-Redux-App-productName {
  font-size: 2.5em;
  font-weight: bold;
}

.SV-Redux-App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
